.App {
  display: flex;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
  
  .Pomo-timer {
    display: grid;
    margin: 50px;
    background-color: black;
    border-radius: 10px;
  }
  
  .buttons {
    background-color: #007cb9;
    padding: 15px 30px;
    border: none;
    text-align: center;
    color: whitesmoke;
    margin: 10px;
    border-radius: 5px;
  }
  
  .pom1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
  }
  
  .pom2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr;
  }
  
  .pom5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  #timer-label {
    font-weight: bolder;
    font-size: x-large;
  }
  
  #break-increment, #break-decrement, #session-decrement, #session-increment {
    background-color: orange;
    color: darkslategray  
  }
  
  #start_stop, #reset {
    background-color: orange;
    color: darkslategray
  }
}